
body {
  width: 800px;
  margin: 0 auto;
}

main {
  width: 525px;
  float: left;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 20px;
}

aside {
  width: 215px;
  float: right;
  padding: 20px 20px 0 0;
}

footer {
  clear: both;
}

section {
  padding: 20px;
  padding-bottom: 20px;
}

h2 {
  font-size: 120%;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

/* Speaker of the Month section */
section h1 {
  font-size: 150%;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  margin: 0;
}

section img {
  float: right;
  margin: 1em;
  border: 1px solid black;
}
