
body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 800px;
}

header, footer {
  background-color: #800000;
  color: white;
  text-align: center;
  padding: 1em 0;
}

article {
  padding: 20px;
  margin: 0;
}

article h1 {
  color: #800000;
  font-size: 150%;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

article h2 {
  color: black;
  font-size: 120%;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

article img {
  float: right;
  margin: 1em;
  border: 1px solid black;
}
